
.banner {
    width: 100%;
    height: 223px;
    margin-top: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: none;
    overflow: hidden;
    mix-blend-mode: darken;
}

.banner img {
    position: relative;
    width:100%;
    height: 223px;
    background-repeat: no-repeat;
    z-index:1;
}

@media only screen and (max-width: 768px) {

    .banner {
        margin-top: 30px;
        width: 100%;
        height: 111px;
    }    
}