
.error {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    color: var(--corail);
}

.error_number {
    font-size: 288px;
    line-height: 410px;
    font-weight: 700;
}

.oups {
    font-size: 36px;
    line-height: 51px;
    font-weight: 500;
    text-align: center;
    
}

.link_home {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    margin-top: 185px;
    margin-bottom: 40px;
}

.link_home a {
    color: var(--corail);
    text-decoration: underline var(--corail);
}

@media only screen and (max-width: 768px) {

    .error {
        margin-top: 44px;
    }
    
    .error_number {
        font-size: 96px;
        line-height: 134px;
    }
    
    .oups {
        font-size: 18px;
        line-height: 26px;
    }
    
    .link_home {
        font-size: 14px;
        line-height: 2px;
        margin-top:60px;
        margin-bottom: 40px;
    }   
}