
.infos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.infos h1 {
    width:100%;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    color: var(--corail);
}


.infos_first {
    display: flex;
    flex-direction: column;
}

.location {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: var(--corail);
}

.infos_first ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--white);
}

.infos_first ul li {
    height: 25px;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: var(--corail);
    line-height: 25px;
}



.infos_2nd {
    display: flex;
    flex-direction: column;
    color: var(--corail);
}


.host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.host span {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: right;
    width: min-content;
}

.pic {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 8px;
}
.pic img {
    width: 64px;
    object-fit: cover;
    object-position: center;
}

.rating  {
    margin-top: 20px;
    text-align: right;
    font-size: 32px;
}



.infos_3rd {
    width: 100%;
    display: flex;
    gap: 5%;
    margin :20px 0px 40px 0px;
}



.infos_3rd h2 {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height : 26px;
}
.infos_3rd p {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height : 26px;
}
.infos_3rd_equipment p {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height : 10px;
}

@media only screen and (max-width: 768px) {

    .infos {
        margin-top: 10px;
    }
    .infos h1 {
        font-size: 18px;
        line-height: 26px;
    }
    .location {
        font-size: 14px;
        line-height: 20px;
    }

    .infos_first ul {
        gap: 10px;
        margin-top: 10px;
        font-size: 10px;
    }
    .infos_first ul li {
        height: 20px;
        border-radius: 10px;
        padding: 0px 12px;
        line-height: 18px;
    } 

    .infos_2nd {
        width: 100%;
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        color: var(--corail);
    }
    .host span {
        font-size: 12px;
        line-height: 17px;
    }
    .pic {
        width: 32px;
        height: 32px;
    }
    .pic img {
        width: 32px;

    }
    .rating  {
        margin-top: 20px;
        text-align: right;
        font-size: 18px;
        letter-spacing : 6px;
    
    }

    .infos_3rd {
        flex-direction: column;
        gap: 5%;
        margin :0px 0px 20px 0px;
    }
    .infos_3rd h2 {
        padding: 10px;
        font-size: 13px;
        line-height : 18px;
    }
    .infos_3rd p {
        padding: 10px;
        font-size: 12px;
        line-height : 17px;
    }
    .infos_3rd_equipment p {
        padding: 10px;
        font-size: 12px;
        line-height : 0px;
    }
}