

.home h1 {
    position: absolute;
    width: 85%;
    margin-top: 80px;
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    text-align: center;
    color: var(--white);
    z-index:2;
}

.accomodations {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding: 50px 20px;
    background-color: var(--cleargrey);
    border-radius: 25px 25px 0px 0px;
    display:flex;
    flex-wrap: wrap;
    gap: 42px;
    justify-content: space-evenly;    
}

@media only screen and (max-width: 768px) {

    .home h1 {
        margin-top: 25px;
        font-size: 24px;
        line-height: 36px;
        z-index:2;
    }    
}
.accomodations {
    height: 100%;
    margin-top: -20px;
    background-color: var(--white);
    display:flex;
    gap: 22px;
    justify-content: space-evenly;    
}